[package]
name = "groundstation_frontend"
version = "0.1.0"
edition = "2024"
description.workspace = true
license-file.workspace = true
repository.workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
leptos = { version = "0.8.12", default-features = false, features = ["csr"] }
groundstation_shared = { path = "../shared" }
serde_json.workspace = true
wasm-bindgen = "0.2"
gloo-net = { version = "0.6.0", features = ["http"] }

# for WebSocket + DOM
web-sys = { version = "0.3", features = [
    "Window",
    "WebSocket",
    "MessageEvent",
    "Performance",
    "Storage",
    "Navigator",
    "Geolocation",
    "Position",
    "PositionError",
    "Coordinates",
    "Permissions",        # Optional (for permission queries)
    "PermissionStatus",   # Optional",
    "console",
] }
gloo-timers = { version = "0.3.0", features = ["futures"] }
serde = "1.0.228"
wasm-bindgen-futures = "0.4.56"
js-sys = "0.3.83"

[build-dependencies]
reqwest = { version = "0.12", features = ["blocking", "rustls-tls"] }
