[package]
name = "groundstation_shared"
version = "0.1.0"
edition = "2024"
description.workspace = true
license-file.workspace = true
repository.workspace = true

[dependencies]
serde.workspace = true
